.standard-header {
    width: 100%;
	min-height: 200px;
	margin-top: -60px;
	padding-top:160px;
	text-align:center;
	margin-bottom:50px;
}

.standard-header p {
	font-size: 64px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1;
	color:#fff;
}
.standard-header h2 {
	color: #fff;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}

.about {
    background: #444 url(img/bg/about-bg.jpg) no-repeat center center fixed;
}

.blog {
    background: #444 url(img/bg/blog-bg.jpg) no-repeat center center fixed;
}

.services {
    background: #444 url(img/bg/services-bg.jpg) no-repeat center center fixed;
}

.works {
    background: #444 url(img/bg/works-bg.jpg) no-repeat center center fixed;
}

.contact {
    background: #444 url(img/bg/contact-bg.jpg) no-repeat center center fixed;
}

.standard-header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.details p {
    font-size: 50px;
}