{% extends "blog/base.html" %}
{% block content %}

{% load static %}
<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
		<div class="container">
			<div class="row">
				<div class="span12">
                    <h1>Petit a petit, mot a mot</h1>
					<h2>Posted by Huda on July 30, 2019</h2>
<!--					<div id="main-flexslider" class="flexslider">-->
<!--						<ul class="slides">-->
<!--							<li>-->
<!--								<p class="home-slide-content">-->
<!--									Machine Learning-->
<!--								</p>-->
<!--							</li>-->
<!--								<li>-->
<!--									<p class="home-slide-content">-->
<!--										Game design-->
<!--									</p>-->
<!--								</li>-->
<!--								<li>-->
<!--									<p class="home-slide-content">-->
<!--										Web Development-->
<!--									</p>-->
<!--								</li>-->
<!--								<li>-->
<!--									<p class="home-slide-content">-->
<!--										Creative design-->
<!--									</p>-->
<!--								</li>-->
<!--						</ul>-->
<!--					</div>-->
					<!-- end slider -->
				</div>
			</div>
		</div>
	</header>
</div>
<section>
    <div class="container details" style="margin-top:50px;">
		<div class="row">
			<div class="span8 offset2" style="font-size: 20px;">
				<p>
					Little by little, bit by bit. That is how big things come into being. A little bit goes a long way.
				</p>
				<p>
					There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.

There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}