{% extends "blog/base.html" %}
{% block content %}

{% load static %}
<div class="standard-header services">
    <header class="clearfix">
		<div class="container">
			<div class="row">
                <p>Our Services</p>
			</div>
		</div>
	</header>
</div>
<section id="services">
    <div class="container">
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="{% static 'blog/img/icons/laptop.png' %}" alt="" />
                    <h2>Web design</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="{% static 'blog/img/icons/lab.png' %}" alt="" />
                    <h2>Web development</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="{% static 'blog/img/icons/camera.png' %}" alt="" />
                    <h2>Photography</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="{% static 'blog/img/icons/basket.png' %}" alt="" />
                    <h2>Ecommerce</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}